header {
  /* display: inline-block; */
  padding: .05em;
  text-align: center;
  font-weight: bold;
  background-color: violet;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.menu {
  float: right;
  width: 10%;
  height: 1em;
  display: inline-block;
  position: absolute;
  right: 0;
}

.left {
  float: left;
  /* width: 10%; */
  height: .7em;
  display: inline-block;
  padding-left: .7em;
  position: absolute;
  left: 0;
}

body {
  font-size: 1.1em;
  font-family: 'Open Sans', sans-serif;
}

.main-container {
  /* background-color: red; */
  display: flex;
  vertical-align: middle;
  text-align: center;
  width: auto;
  height: auto;
  /* border: 2px solid grey; */
  margin: auto;
  /* margin-top: 10%; */
  /* margin-bottom */
  padding: 2%;
  /* display: inline-block; */
  flex-direction: column;
}

.col {
  flex-direction: column;
}

.btn-primary {
  padding-left: .7em;
  padding-right: .7em;
  padding-top: .2em;
  padding-bottom: .2em;
  color: #001212;
  font-size: 1.1em;
  border-radius: 25px;
  margin-top: .4em;
  margin-left: .4em;
  margin-right: .4em;
}

button:hover {
  opacity: .7;
}

.required {
  color: red;
  font-weight: bold;
}

.button-div {
  font-size: 1.2em;
}


input {
  border-radius: 5px;
  font-size: 1.2em
}

#map {
  background-color: #f2f2f2;
  width: 660px;
  height: 660px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  box-shadow: 1px 1px .2em .2em grey;
  margin: auto;
}

h1 {
  text-align: center;
}

.divpixels {
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  height: 20px;
  width: 20px;
  float: left;
  text-align: center;
  vertical-align: middle;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    height: 100px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: unset;
    top: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    /* background-color: crimson; */
    /* display: block; */
    /* width: 20px; */
    /* height: 20px; */
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
