header {
  /* display: inline-block; */
  padding: .01em;
  text-align: center;
  font-weight: bold;
  background: rgba(0, 0, 0, .05) !important;
  border: 1px solid black;
  box-shadow: 0 0 .1em .1em rgba(0, 0, 0, .2);
}

img {
  max-width: 100%;
  max-height: 100%;
  /* opacity: 60%; */
}

.menu {
  float: right;
  width: 10%;
  height: .9em;
  display: inline-block;
  position: absolute;
  right: 0;
}

.left {
  float: left;
  /* width: 10%; */
  height: .7em;
  display: inline-block;
  padding-left: 1em;
  position: absolute;
  left: 0;
}

body {
  font-size: 1.3em;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: rgba(255, 255, 243, .9);
  background-image: url("straw.jpeg");
  background-size: cover;
  /* scroll-snap-destination: 0 10%; */
  /* -webkit-scroll-snap-coordinate: 0% 10%; */
  /* -webkit-tap-highlight-color: transparent; */
}

:focus {
  outline: none !important;
}

.main-container {
  /* background-color: red; */
  display: block;
  /* align-items: center; */
  /* vertical-align: middle; */
  text-align: center;
  width: auto;
  height: 600px;
  /* border: 2px solid grey; */
  max-width: 100%;
  margin: auto;
  /* margin-top: 10%; */
  /* margin-bottom */
  /* padding: 2%; */
  /* display: inline-block; */
  flex-direction: row;
  flex-wrap: nowrap;
  /* background-color: rgba(85,85,85,.2); */
  /* -webkit-tap-highlight-color: transparent; */
}

.col {
  flex-direction: column;
  /* text-align: center; */
}

.row {
  flex-direction: row;
  width: 46%;
  margin-left: 2%;
  margin-right: 2%;
}

.btn-primary {
  padding-left: .7em;
  padding-right: .7em;
  padding-top: .3em;
  padding-bottom: .3em;
  color: rgba(255, 255, 243, .9);
  font-size: 1.3em;
  border: 1px solid black;
  box-shadow: 0 0 .03em .03em rgba(0, 0, 0, .2);
  margin-top: .4em;
  margin-left: .4em;
  margin-right: .4em;
  background: rgba(0, 0, 0, .05) !important;
  /* background: transparent; */
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

button:hover {
  opacity: .7;
}

.required {
  color: red;
  font-weight: bold;
}

.button-div {
  /* border: 1px solid grey; */
  width: 25%;
  /* height: 300px; */
  /* font-size: 1.2em; */
}

input {
  /* border-radius: 5px; */
  padding-left: .5em;
  padding-right: .5em;
  padding-top: .1em;
  padding-bottom: .1em;
  font-size: 1.3em;
  background: rgba(0, 0, 0, .05) !important;
  color: rgba(255, 255, 243, .9);
  border: 1px solid black;
  box-shadow: 0 0 .03em .03em rgba(0, 0, 0, .2);
  font-family: 'Yanone Kaffeesatz', sans-serif;
  /* max-width: 1.2em; */
}

.quantity {
  max-width: 2em;
  /* padding-top: .em; */
  /* padding-bottom: .1em; */
  margin-top: .2em;
}

.myList {
  width: 25%;
  height: 95%;
  text-align: center;
  display: absolute;
  position: 0, 0;
  float: left;
  font-size: 1.3em;
  background: rgba(0, 0, 0, .05) !important;
  color: rgba(255, 255, 243, .9);
  border: 1px solid black;
  box-shadow: 0 0 .03em .03em rgba(0, 0, 0, .2);
  padding: 2% 0 2% 0;
  margin-bottom: 400px;
  /* border: 1px solid grey; */
}

.add {
  background: rgba(0, 225, 0, .2) !important;
}

.remove {
  font-size: .8em;
  margin-left: 0;
  border-left: 0;
  background: rgba(255, 0, 0, .2) !important;
}

.listRow {}

.item {
  font-size: .8em;
  margin-right: 0;
  width: 70%;
}

#map {
  background: rgba(0, 0, 0, .05) !important;
  width: 660px;
  height: 660px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  box-shadow: 0 0 .1em .1em rgba(0, 0, 0, .2);
  margin: auto;
  margin-bottom: 300px;
  /* padding-top: 15%; */
  /* vertical-align: middle; */
}

h1 {
  text-align: center;
}

.divpixels {
  /* background-color: rgba(255,255,243,.5); */
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 243, .5);
  height: 20px;
  width: 20px;
  float: left;
  text-align: center;
  vertical-align: middle;
}

.popup-img {
  margin: 20px 0 20px 0;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */

.popup .popuptext {
  visibility: hidden;
  width: 200px;
  height: 240px;
  background-color: rgba(85, 85, 85, .8);
  color: #fff;
  text-align: center;
  /* border-radius: 6px; */
  padding: 10px 20px 10px 20px;
  position: absolute;
  z-index: 1;
  top: -799%;
  left: 70%;
  margin-left: 10px;
}

.popup .popupyou {
  visibility: hidden;
  width: 200px;
  height: 300px;
  background-color: rgba(85, 85, 85, .8);
  color: #fff;
  text-align: center;
  /* border-radius: 6px; */
  padding: 10px 20px 10px 20px;
  position: absolute;
  z-index: 1;
  top: -799%;
  left: 70%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.popupyou {
  /* width: 100px; */
  /* height: 100px; */
}

/* Popup arrow off, not aligning properly */

.popup .popuptext::after {
  /* content: ""; */
  position: absolute;
  top: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  /* background-color: crimson; */
  /* display: block; */
  /* width: 20px; */
  /* height: 20px; */
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
